
/* sets default backround color for page on light mode */
.light-mode{
    background-color: #e5e6e3;
}

/* styles the header */
header{
    display: flex;
    margin: 25px;
    min-height: 3vh;
    border-bottom: 5px double black;
    margin-bottom: 65px;
    justify-content: end;

    #return{
      display: inline;
      position: relative;
      right: 150px;
      bottom: 7px;
      background-image: linear-gradient(
         rgb(237, 169, 22) 0%,
         rgb(237, 247, 91) 100%);
      width: 75px;
      height: 50px;
    }

    button:hover{
      border-color: rgb(3, 191, 19);
    }

    h1{
        width: 100vw;
        min-width:  70vw;
        margin-top: 0px;
    }

    /* all controls for the darkmode-lightmode toggle switch */
    .switch{
        position: relative;
        display: flex;
        width: 50px;
        height: 31px;

        input {
            opacity: 0;
            width: 0;
            height: 0;
          }

        .slider{
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgb(202, 207, 71);
            /* sliding annimation */
            -webkit-transition: .4s;
            transition: .4s;
        } 
        
        .slider:before {
            position: absolute;
            content: "";
            height: 27px;
            width: 27px;
            bottom: 2px;
            left: 1px;  
            background-color: white;
            /* sliding annimation removed as it shows 
            when trasitioning between pages*/
            /* -webkit-transition: .4s; */
            /* transition: .4s; */
          }

          input:checked + .slider {
            background-color: rgb(137, 39, 157);
          }
          input:focus + .slider {
            box-shadow: 0 0 1px rgb(137, 39, 157);
          }
          input:checked + .slider:before {
            -webkit-transform: translateX(17px);
            -ms-transform: translateX(17px);
            transform: translateX(17px);
          }
          .slider.round {
            border-radius: 34px;
          }
          .slider.round:before {
            border-radius: 50%;
          }
    }
}

/* styles the main section with blogs */
main{
  margin: auto;
  border: 3px solid black;
  border-radius: 10px;
  height: fit-content;
  width: 90vw;

  article{
      margin: auto;
      padding-left: 15px;
      margin-top: 15px;
      margin-bottom: 15px;
      max-height: fit-content;
      max-width: 80vw;
      border: 3px solid black;
      border-radius: 5px;

      h2{
        font-size: 215%;
        width: fit-content;
        border-bottom: 3px solid rgb(236, 212, 53);
        margin-top: 3px
      }

      p{
        font-size: 135%;
        padding-left: 25px;
        padding-bottom: 10px;
        padding-right: 5px;
      };

      h3{
        font-size: 75%;
        color: #1f1f1f
      };
  } ;
}

/* styles the footer section */
footer{
  text-align: center;
  a:visited { text-decoration: none; color: black }
  a:hover { text-decoration: none; color: black; }
  a:focus { text-decoration: none; color: black; }    
  a:hover, a:active { text-decoration: none; color: black; }

  h4{
    width: 95vw;
    font-size: 150%;

  }
  ul{
    text-align: center;
    list-style-type: none;
    width: 90vw;

    li{
      display: inline;
      flex-wrap: wrap;
      padding: 15px;
      font-size: 150%;
      text-decoration: underline;
    }
  }
}



/* all dark mode attribute changes are stored here */
.dark-mode{
    background-color: #1f1f1f;
    
    header{
        border-color: rgb(72, 72, 72);
    }

    #return{
    color: white;
    background-image: linear-gradient(
        rgba(71, 13, 67, 0.6) 0%,
        rgb(137, 39, 157) 100%)
    }

    main{
        border-color: rgb(72, 72, 72)
    }
    h1{
        color: white;
    }

    article{
      border: 3px solid rgb(72, 72, 72);
      border-radius: 5px;

      h2{
        width: fit-content;
        border-bottom: 3px solid rgb(137, 39, 157);
        color: white;
      }

      p{
        color: white;
      };

      h3{
        color: #1f1f1f;
        color: white;
      };
    }

      footer{
        color: white;
        a:visited {text-decoration: none; color: white};
        a:hover {text-decoration: none; color: white};
        a:focus {text-decoration: none; color: white};  
        a:hover, a:active {text-decoration: none; color: white};
      } ;
}