
.light-mode{
    background-color: #e5e6e3;
}

/* styles the header */
header{
    display: flex;
    margin: 25px;
    min-height: 3vh;
    border-bottom: 5px double black;
    margin-bottom: 65px;
    justify-content: end;

    h1{
        width: 100vw;
        min-width:  70vw;
        margin-top: 0px;
        
    }

    .switch{
        position: relative;
        display: flex;
        width: 50px;
        height: 31px;

        input {
            opacity: 0;
            width: 0;
            height: 0;
          }

        .slider{
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgb(202, 207, 71);
            -webkit-transition: .4s;
            transition: .4s;
        } 
        
        .slider:before {
            position: absolute;
            content: "";
            height: 27px;
            width: 27px;
            bottom: 2px;
            left: 1px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
          }

          input:checked + .slider {
            background-color: rgb(137, 39, 157);
          }
          input:focus + .slider {
            box-shadow: 0 0 1px rgb(137, 39, 157);
          }
          input:checked + .slider:before {
            -webkit-transform: translateX(21px);
            -ms-transform: translateX(21px);
            transform: translateX(21px);
          }
          .slider.round {
            border-radius: 34px;
          }
          .slider.round:before {
            border-radius: 50%;
          }
        

    }
}

main{
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
    height: 100vh;
    width: 90vw;

    article{
      margin: auto;
      padding-left: 15px;
      margin-top: 15px;
      max-height: fit-content;
      max-width: 80vw;
      border: 3px solid black;
      border-radius: 5px;

      h2{
        font-size: 200%;
        width: fit-content;
        border-bottom: 3px solid black;
      }

      p{
        font-size: 150%
      };

      h3{
        font-size: 75%;
        color: #1f1f1f
      };
    } ;
}






.dark-mode{
    background-color: #1f1f1f;
    
    header{
        border-color: rgb(72, 72, 72);
    }

    main{
        border-color: rgb(72, 72, 72)
    }
    h1{
        color: white;
    }

    article{
      border: 3px solid rgb(72, 72, 72);
      border-radius: 5px;

      h2{
        font-size: 200%;
        width: fit-content;
        border-bottom: 3px solid rgb(137, 39, 157);
        color: white;
      }

      p{
        font-size: 150%;
        color: white;
      };

      h3{
        font-size: 75%;
        color: #1f1f1f;
        color: white;
      };
    } ;
}