/* sets default backround color for page on light mode */
.light-mode{
    background-color: #e5e6e3;
}

/* styles the header with mode switch */
header{
    display: flex;
    margin: 25px;
    min-height: 3vh;
    border-bottom: 5px double black;
    margin-bottom: 25px;
    justify-content: end;

    h1{
        width: 100vw;
        min-width:  70vw;
        /* margin-left: 10px; */
        margin-top: 0px;
        
    }
    /* button to go to blog page */
    #toblog{
        display: inline;
        position: relative;
        right: 150px;
        bottom: 7px;
        background-image: linear-gradient(
            rgb(237, 169, 22) 0%,
            rgb(237, 247, 91) 100%);
        width: 75px;
        height: 50px;
    }
    button:hover{
        border-color: rgb(3, 191, 19);
    }

    /* all controls for the darkmode-lightmode toggle switch */
    .switch{
        position: relative;
        display: flex;
        width: 50px;
        height: 31px;

        input {
            opacity: 0;
            width: 0;
            height: 0;
          }

        .slider{
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgb(202, 207, 71);
            -webkit-transition: .04s;
            transition: .04s;
        } 
        
        .slider:before {
            position: absolute;
            content: "";
            height: 27px;
            width: 27px;
            bottom: 2px;
            left: 1px;
            background-color: white;
            /* sliding annimation removed as it always shows 
            when trasitioning between pages or refreshing*/
            /* -webkit-transition: .04s; */
            /* transition: .04s; */
          }

          /* changes color when toggled */
          input:checked + .slider {
            background-color: rgb(137, 39, 157);
          }
          
          input:focus + .slider {
            box-shadow: 0 0 1px rgb(137, 39, 157);
          }

          /* moves the position of the white circle 
          (moves the slider without animation) */
          input:checked + .slider:before {
            -webkit-transform: translateX(16px);
            -ms-transform: translateX(16px);
            transform: translateX(16px);
          }

          /* sets the slider to round instead of a box */
          .slider.round {
            border-radius: 34px;
          }

          /* sets the circle inside the slider to round instead of box */
          .slider.round:before {
            border-radius: 50%;
          }
    }
}

/* styles the aside text above the form */
aside{
    display: flex;
    justify-content: center;
    font-size: 150%;

    h2{
        width: fit-content;
        margin-bottom:  5px;
        margin-top: 0px;
        border-bottom: 4px solid rgb(236, 212, 53)
        /* border-radius: 10px; */
    }
}

/* styles the form */
.input{
    /* text-align: center; */
    border: 3px solid black;
    width: 80vw;
    min-height: 630px;
    max-height: 1000px ;
    /* height: 67vh; */
    margin: auto;

    label{
        text-align: start;
    }  
    #form{
        padding: 25px;
        
    }

    #user{
        margin-bottom: 20px;
        padding: 5px;
        border: 2px solid black;
        border-radius: 5px;
        font-size: 125%;
    }

    #title{
        margin-bottom: 20px;
        padding: 5px;
        border: 2px solid black;
        border-radius: 5px;
        font-size: 125%;
    }

    #article{
    border: 2px solid black;
    border-radius: 5px;
    font-size: 125%;
    width: 100%;
    height: 100%;
    }
}
/* styles the sumbit button */
.display{
    display: flex;
    /* margin: auto; */
    padding-top: 20px;
    justify-content: center;
    /* width: 80vw; */

    button{
        font-family: monospace 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 300%;
        margin-bottom: -175px;
        height: 275px;
        width: 275px;
        border: 2px solid black;
        border-radius: 100%;
        background-image: linear-gradient(
            rgb(237, 169, 22) 0%,
            rgb(237, 247, 91) 100%
        );
    }
    button:hover{
        border-color: rgb(3, 191, 19);
    }

}




/* all dark mode attribute changes are stored here */
.dark-mode{
    background-color: #1f1f1f;

    header{
        border-color: rgb(72, 72, 72);
    }

    section{
        border-color: rgb(72, 72, 72)
    }
    h1{
        color: white;
    }
    h2{
        color: white;
        border-color: rgb(137, 39, 157);
    }

    #toblog{
        color: white;
        background-image: linear-gradient(
            rgba(71, 13, 67, 0.6) 0%,
            rgb(137, 39, 157) 100%)
    }

    button{
        color: white;
        background-image: linear-gradient(
            rgba(71, 13, 67, 0.6) 0%,
            rgb(137, 39, 157) 100%
    )}

    label{
        color: white;
    }

    #user{
        background-color: #212e3a;
        color: white;
        border-color: rgb(72, 72, 72)
    }

    #title{
        background-color: #212e3a;
        color: white;
        border-color: rgb(72, 72, 72)
    }
    

   #article{
        background-color: #212e3a;
        color: white;
        border-color: rgb(72, 72, 72)
    }
    
}



